<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<% if (includeReact) { -%>
    <title>My Web App</title>
<% } else { -%>
    <title><%% if (page.title) { %><%%= page.title %> | <%% } %>My Web App</title>
<% } -%>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="styles/app.css">

    <!-- load the web font asynchronously with Web Font Loader -->
    <!-- https://github.com/typekit/webfontloader -->
    <script>
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400italic,400,300,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
<% if (includeReact) { -%>
    <div id="content"></div>
<% } else { -%>
    <%%= contents %>
<% } -%>
    <script src="scripts/bundle.js"></script>
  </body>
</html>
