{
  "extends": "eslint:recommended",

  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "arrow-parens": 2
  }
}
